/* Add here all your CSS customizations */
/*.video_apresentacao{
    width: 100%;
    height: auto;
}*/


/*.iphone {
    background-image: url(../img/bgiphone.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 255px;
    height: 460px;
    float: right;
    margin-left: 30px;
}

.iphone .screenshot {
    background-image: url(../img/bgscreenshotiphone.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 230px;
    height: 300px;
    margin: auto;
    margin-top: 62px;
    cursor: pointer;
    position: relative;
}*/

/*iframe[Attributes Style] {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    height: 340px;
    width: 230px;
}

iframe.resize {width:230px;height:350px;}
@media screen and (max-width: 250px) {
	iframe.resize {
		width:100%;
        height:auto
	}
}
user agent stylesheet
iframe {
    border-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}*/

.iphone .screenshot .play-button {
    padding-top: 20px;
    text-align: center;
}

.imgappstore {
/* 	width: 165px!important; */
    height: 42px!important;
}
.imggoogleplay {
	width: 165px!important;
    height: 64px!important;
}

.header{
	margin-top: 0px;
}
.header-row{
	margin-top: 0px;
}
.intro{
	 margin-top: 90px;
	 color: #ffffff!important;
}
.sectionintro{
	 background-color: #000000;
}

.imghome img {
    width: 100%;
    height: 100%;
	align: center!important;
}

.introtxt {

    float: left;
	align: center;

}

.imgbtnsocial img {
    width: 60px;
    height: 60px;
}

.store-icons a:hover {
	text-decoration: none !important;
}

.imgbtnsocial a:hover {
	text-decoration: none;
}

.modal-body p {
	 text-align: justify;
}

.col-centered{
   display: block;
   margin-left: auto;
   margin-right: auto
}

@media screen and (min-width: 970px) {
  .video-row {
    margin: 13% auto 0 auto;
    width: 430px;
  }
}


.required {
  content:"*";
  color:red;
}


.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}
.foto{
   height: 200px !important;
   width: 200px !important;

}
.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}


#carousel-bounding-box {
   max-height: 100%;
   max-width: 100%;
}

#main_area {
   max-height: 100%;
   max-width: 100%;
}

/* Demais dispositivos*/
@media only screen and (min-width: 768px) {
    .header-intro {
      font-size: 2.8em;
    }
}

@media only screen and (min-width: 768px) {
    .body-intro {
      font-size: 1.8em;
    }
}


/* Mobile */
@media only screen and (max-width: 767px) {
    .header-intro{
      font-size: 2.2em;
    }
}

@media only screen and (max-width: 767px) {
    .body-intro{
      font-size: 1.6em;
    }
}
