/* Custom file input */
.container{
    margin-top:20px;
}
.image-preview-input {
    position: relative;
	  overflow: hidden;
	  margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.anterior {
    /*background: #009900;
    position: fixed !important;
    /*left: 60px;
    top: 35px;
    bottom: 50px;*/
  /*overflow: hidden;*/
  /*background-color: #333 !important;*/
  position: fixed;
  bottom: 3%;
  /*left: 3%;*/
  width: 100%;
     /*z-index: 1002 !important;*/
  /*float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;*/

}
.proximo {
    /*background: #009900;
    position: fixed !important;
    /*left: 60px;
    top: 35px;
    bottom: 50px;*/
  /*overflow: hidden;*/
  /*background-color: #333 !important;*/
  position: fixed;
  bottom: 3%;
  /*right: 3%;*/
  width: 75%;
  z-index: 1001;
  /*float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;*/

}


.bg-green {
   padding: 10px;
   margin: 0 0 10px 0;
   background-color: #c9ffda !important;
   border-radius: 15px;

}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}
#overlay img.loading_circle {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

@media only screen and (max-width: 767px) {
  .header-right{
	  background-color: #dc4539 !important;
  }
	.proximo {
		left: 1% !important;
		position: fixed;
		bottom: 3%;
		width: 100%;
		z-index: 1001;
	}

}

.img-passo {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/*.img-passo-zoom {
   height: 700px;
}*/

/* @media only screen and (max-width: 767px) { */
   .img-passo-zoom {
        /*height: auto !important;*/
 		  width: 100% !important;
/*       text-align: center; */
   }
#target_div2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
/*     filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
     opacity: 0.5; */
     z-index: 10001;
	   overflow-y: auto;
}
   #target_div2 .img-logo-zoom {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: auto !important;
	height: auto !important;
   border: 1px;
   border-style: solid !important;
   border-color: #dc4539 !important;


		 /*       height: auto !important;
		  width: auto !important;
      text-align: center;
		  position: fixed;
		 	width: 100%;
		  z-index: 2001; */
   }
/* } */


.lightbox-close{
   position: fixed;
   margin-top: 0;
   margin-right: 0;
}
