/* Add here all your CSS customizations */
/*.video_apresentacao{
    width: 100%;
    height: auto;
}*/


/*.iphone {
    background-image: url(../img/bgiphone.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 255px;
    height: 460px;
    float: right;
    margin-left: 30px;
}

.iphone .screenshot {
    background-image: url(../img/bgscreenshotiphone.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 230px;
    height: 300px;
    margin: auto;
    margin-top: 62px;
    cursor: pointer;
    position: relative;
}*/

/*iframe[Attributes Style] {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    height: 340px;
    width: 230px;
}

iframe.resize {width:230px;height:350px;}
@media screen and (max-width: 250px) {
	iframe.resize {
		width:100%;
        height:auto
	}
}
user agent stylesheet
iframe {
    border-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}*/

.iphone .screenshot .play-button {
    padding-top: 20px;
    text-align: center;
}

.imgappstore {
	width: 165px!important;
    height: 40px!important;
}
.imggoogleplay {
	width: 165px!important;
    height: 64px!important;
}

.header{
	margin-top: 0px;
}
.header-row{
	margin-top: 0px;
}
.intro{
	 margin-top: 90px;
	 color: #ffffff!important;
}
.sectionintro{
	 background-color: #000000;
}

.imghome img {
    width: 100%;
    height: 100%;
	align: center!important;
}

.introtxt {

    float: left;
	align: center;

}

.imgbtnsocial img {
    width: 60px;
    height: 60px;
}

.modal-body p {
	 text-align: justify;
}
