/*html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
}*/
#map-canvas {
  margin: 0;
  padding: 0;
  height: 200px;
  width: 200px;
  max-width: none;
}
#map-canvas img {
  max-width: none !important;
}
